/*
    0 Initialisations
*/

html {font-size: 100%;}

/*
    0.1 Font imports
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

 
/*
    0.2 HTML & Body
*/

  body { 
    font-size: 1em;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    color: #0f0f0f;
    background-color: #ffffff;
  }

  main {margin: 0 3em 0 4em;}

  #toc{
    font-family: 'Montserrat', sans-serif;
  }

/*
    0.3 Responsive navigation layout
*/

@media (min-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 293px;
        font-size: 0.9em;
        overflow: auto;
        padding: 0 0 0 2em;
        background-color:#f7f7f7; 
    }

    #toggle {
        position: fixed;
        height: 100%;
        width: 20px;
        padding:3px;
        text-align: center;
        background-color:#0f0f0f;
        color: white!important;
        cursor: pointer;
    }

    #toggle span {

        position: absolute;             
        top: 50%;

        transform: translate(0, -50%)
    }


    .container {
        padding-left: 320px;
    }

    .rule.toc {
        display: none;
    }

    h1.toc-contents {
        margin-top: 1em;
    }

    ul#toc-list {
        padding:0;
        margin:0;
    }
}

@media (max-width: 768px) {
    #toc {
        padding: 0 1.5em 0 1.5em;
        overflow: visible;
    }
}
  


#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #485094;
    text-decoration: none;
    display: block;
}

#toc a:hover {
    color: white;
}

#toc .h2 {
    padding-left: 30px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active a {
    color: white;
}

#toc .toc-active, #toc li:hover {
    background: #0f0f0f;
    box-shadow: inset -5px 0px 10px -5px #0f0f0f!important;
}

#toc li:hover a {
    color: white;
}


/*
    1. TYPOGRAPHY
*/

/*
    1.1 Titles
*/
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: #485094;
    font-weight: 900;
    margin-top: 2em;
  }

  h1 {
    font-size: 1.4em; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 4em;
  }

  h1#content {
      margin-top: 2em;
  }
  
  h2 {font-size: 1.3em; }
  
  h3 {font-size: 1.1em;}

  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    display: none;
  }

  a.anchor:hover {
    box-shadow: none;
    background: none;
  }

  h1:hover .anchor {
      display: inline-block;
  }


  p.TermNum, p.Terms, p.AltTerms {
    color: #485094;
    font-weight: 400;
  }

  p.TermNum {
    font-size: 0.9em;
    line-height: 1em;
    margin: 0;
    margin-top: 2em;
  }

  p.Terms {
    font-size: 1.1em;
    line-height: 1.7em;
    margin: 0;
  }
  
  p.AltTerms {
    font-style: italic;
    margin: 0;
  }

/*
    1.2 Links
*/
  
    a, a:visited{
        text-decoration: none;
        color: #485094;
    }
      
    a:hover {
        color: white;
        background: #0f0f0f;
        box-shadow: 5px 0 0 #0f0f0f, -5px 0 0 #0f0f0f;
    }

    ::selection {
        background: #0f0f0f; /* WebKit/Blink Browsers */
        color: white;
      }
      ::-moz-selection {
        background: #0f0f0f; /* Gecko Browsers */
        color: white;
      }

      .contact-info a:hover {
          color: #485094;
          text-decoration: underline;
          background: none;
          box-shadow: 0 0 0 0;
      }


      
/*
    1.3 Lists
*/
        
    ul {margin-left: 0.5em;}
      
    #toc-list ul {margin-bottom: 0.25em;}
      
    #toc-list li {list-style-type: none;}

/*
    1.4 Rules
*/

    .rule {
        width: 100%;
        height: 1px;
        background-color: #485094;
        margin: 2em 0;
      }

/*
    1.5 Bibliograhy
*/

p.Biblio {
    margin-left: 2em;
}

/*
    Contact Info
*/

.contact-info {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    background-color: #f7f7f7;
    color: #b63eee;
    padding: 2em;
    margin-top: 5em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.contact-info .name {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom:0;
}

.contact-info .address {
    font-size: 1em;
    line-height: 1.3em;
    margin-top:0;
}

/*
    2.0 Page header
*/

/*
    2.1 Top Logo
*/

.wrapper-top {
    background:linear-gradient(65deg,#0f0f0f,#3849e2 );
    color: white;
    padding: 2em 0;
}

  .doc-number {
      font-size: 0.5em;
      font-family: 'Montserrat', sans-serif;
  }

  .coverpage-title {
      padding-bottom: 1.5em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
  }
  
  .WordSection2 {
    padding: 0 2em 0 3em;
  }
  
  .zzSTDTitle1, .MsoCommentText {
    display: none;
  }


  .coverpage {
    text-align: center;
  }

  .coverpage-logo span, .coverpage-tc-name span {
      color: #3849e2;
      font-family: 'Montserrat', sans-serif;
      background-color: #fff;
      padding: 8px ;
  }
  

  
  .coverpage-tc-name {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0.25em 0;
  }
  
/*
    2.2 Document Identity
*/

  .coverpage-doc-identity {
    color: white;
    font-size: 2em;
    line-height: 2em;
  }
  
  
  .coverpage-title .title-second {
    display: none;
  }

  .coverpage-stage-block {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: 2em 0 2em 0;
    text-transform: uppercase;
  }

  #standard {
      border-bottom: solid 3px #0ac442;
  }

  #governance {
    border-bottom: solid 3px #750697;
    }

    #guide {
        border-bottom: solid 3px #48a0e7;
        }
  
/*
    2.3 Draft Warning
*/

  
  .coverpage-warning {
    border-top: solid 1px #f36f36;
    border-bottom: solid 1px #f36f36;
    margin: 1em 2em;
    color: #485094;
    padding: 1em;
  }
  
  .coverpage-warning .title {
    color: #f36f36;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  
  
/*
    2.4 Copyright
*/  

  .copyright {
    padding: 1em;
    font-size: 0.8em;
  }
  
  
  .copyright .name, .copyright .address {color: #485094;}
  


/*
    3.0 Other styles
*/

/*
    3.1 Source Code
*/

  .figure, .Sourcecode {
      font-family: 'Space Mono', monospace;
      background-color: #f7f7f7;
      font-size: 1em;
      line-height: 1.5em;
      padding: 1.5em;
      margin-top: 2em;
      overflow: auto;
  }
  
/*
    3.2 Tables
*/

table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 300;
    margin: 2em;
}

table, th, td {
    border: 1px solid black;
    font-size: 1em;
}

td, th {
    padding: 1em;
}

td.header {
    font-weight: 400;
}

p.TableTitle {
    text-align: center;
    margin-top: 2.5em;
    font-weight: 400;
}

/*
To top button
*/

#myBtn {
    font-family: 'Space Mono', monospace;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #0f0f0f;
    opacity: 0.15;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    opacity: 1;